 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script>
/*
 $.post("http://www33.online-convert.com/init-document-conversion",
 {
 	external_url: "https://www.fnal.gov/pub/takefive/documents/Elec%20Safety%20Workbook.pdf"
 },
 function(data,status){
 	alert("Data: " + data + "\nStatus: " + status);
 });*/


 </script>

 <style>
 .overlay{
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	z-index: 10;
 	background-color: rgba(0,0,0,0.5); /*dim the background*/
 }
 </style>
 <object width="100%" height="100%" data= <%= SWFFileName %> ></object>
 <!-- <div class="overlay"></div>
 <object data="redBus Ticket.pdf" type="application/pdf" width="100%" height="100%">

 	<p>It appears you don't have a PDF plugin for this browser.
 		No biggie... you can <a href="myfile.pdf">click here to
 		download the PDF file.</a></p>

 	</object>  -->


<!-- 
	<iframe src="http://docs.google.com/gview?urlhttps://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CB0QFjAA&url=https%3A%2F%2Fwww.fnal.gov%2Fpub%2Ftakefive%2Fdocuments%2FElec%2520Safety%2520Workbook.pdf&ei=U-sUVbGPGc2hugT4hoDADg&usg=AFQjCNEZyAY664Aofu8hhzCD1sc0ZN8RAA&sig2=fwIVg0o0agColuIZJ0lx0A&bvm=bv.89381419,d.c2E&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe> -->
 <!-- 
 <embed src="https://www.fnal.gov/pub/takefive/documents/Elec%20Safety%20Workbook.pdf#toolbar=0&navpanes=0&scrollbar=0" width="425" height="425"> -->
<!-- 
 <embed src="https://www.fnal.gov/pub/takefive/documents/Elec%20Safety%20Workbook.pdf" width="500" height="375"> -->